.pokemon-container{
    margin-top: 50px;

}
.pokemon-link{

    border-radius: 25px;
    border: 1px solid gray;
    margin: 10px;
}
.pokemon-link:hover{
    font-size: 150%;
}
.poke-name{
    color: blue;
    align-content: left;
    cursor: pointer;
}