.profile {
    margin-top: 50px;
}
.pokemon-name{
    justify-content: right
}
.poke-avatar{
    width: 50%;
}
.pokemon-stats{
    border: 1px solid gray
}
.pokemon-nums{
    border-left: 1px solid gray
}