.App {
    border: 0px solid black;
    text-align: center;
    border-top-color: #85144b;
    border-top-width:25px;
  }
  
.pokeball {
    width: 60px;
}

h1 {
    color: #85144b;
    text-align: center;
}