.App {
    border-top: 25px solid ;
    border-top-color: #85144b;
    border-top-width:100;
  }
  .header {
      text-align: center;
  }
  
.pokeball {
    width: 60px;
}

h1 {
    color: #85144b;
    text-align: center;
}